.area {
  stroke: #999;
  stroke-width: 3.5px;
  fill: white;
  clip-path: url(#clip);
}

.pastarea {
  stroke: red;
  stroke-width: 5.0px;
  fill: white;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.bar {
  clip-path: url(#clip);
}

.dot {
  fill: #999;
  clip-path: url(#clip);
}

.dotContext {
  fill: #999;
}