{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/base",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "class-methods-use-this": [
      "warn",
      {
        "exceptMethods": [
          "componentWillMount",
          "componentDidMount",
          "componentWillUnmount",
          "componentDidUnmount",
          "componentWillUpdate",
          "componentDidUpdate",
          "componentShouldUpdate",
          "render"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "ignore",
        "objects": "ignore",
        "imports": "ignore",
        "exports": "ignore",
        "functions": "never"
      }
    ],
    "function-paren-newline": ["error", { "minItems": 3 }],
    "import/prefer-default-export": "warn",
    "max-len": [
      "error",
      {
        "code": 100,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-console": "warn",
    "no-continue": "off",
    "no-mixed-operators": [
      "error",
      {
        "allowSamePrecedence": false
      }
    ],
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ]
  }
}
