.flex-c {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-align-sb {
  justify-content: space-between;
}

.flex-align-c {
  justify-content: center;
}

.flex-align-r {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-v-stretch {
  align-items: stretch;
}

.flex-v-center {
  align-items: center;
}

.flex-v-bottom {
  align-items: flex-end;
}

.flex-g-1 {
  flex: 1;
}
