@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.about-us-container{
  width:100%;
  height:100%;
  overflow:auto;
}

.about-heading {
  color:$gray-darkest-alpha
}

.dev-names {
  color: $gray-dark;
  font-size:1.3em;
}

.description {
  color: $gray-dark;
  margin-top:1.5rem;
}

.disclaimer {
  color: $gray;
  margin-top:2rem;
  font-size:1.1em;
}

.disclaimer-text {
  color: $gray;
  font-size:0.9em;
}
