@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.dashboard {}

.dashboard-risk-scores.no-list-style {
  margin: 0.125rem -0.5rem 3rem;
}

.dashboard-bottom-panel {
  position: relative;
  transition: opacity $fast $ease, width $fast $ease;

  .wrapper {
    position: absolute;
    top: 0;
    right: 1.5rem;
    bottom: 0;
    left: 1.5rem;
    overflow: hidden;
  }

  &:first-child .wrapper {
    left: 0;
  }

  &:last-child .wrapper {
    right: 0;
  }
}

.dashboard-bottom-panel-hidden {
  width: 0;
  opacity: 0;
}

.dashboard-panel-headline,
.dashboard-panel-headline > h3 {
  margin: 0;
  font-size: 1.25rem;
  text-transform: uppercase;
  line-height: 2rem;
}

.dashboard-panel-headline {
  min-height: 2rem;
  max-height: 2rem;
  border-bottom: 2px solid $gray-lighter;

  .button {
    margin: 0.25rem 0;
    padding: 0 0.25rem;
    font-size: 1rem;
    line-height: 1rem;

    .icon {
      height: 0.8rem;
    }
  }
}
