@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.button {
  height: 1.5em;
  margin: 0;
  padding: 0;
  border: 1px solid $gray-lighter;
  border-radius: 0.25rem;
  background: transparent;
  transition: color $normal $ease,
              border-color $normal $ease,
              background $normal $ease;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    color: $black;
    border-color: $gray-lighter;
    background: $gray-lighter;
  }

  .icon {
    width: 1em;
    height: 1em;
    margin-right: 0.25em;
  }

  &.button-icon-only {
    width: 1.5em;

    .icon {
      margin-right: 0;
    }
  }
}
