@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.measurement {
  position: relative;
  padding: 0.5rem 0;
  border-top: 1px solid $gray-lightest;

  &:first-child {
    border-top: 0;
  }
}

.measurement-title {
  margin: 0 0.5rem 0 0;
}

.measurement-info {
  min-height: 1.5rem;
}

.measurement-unit {
  color: $gray;
  font-size: 0.9em;
}

.measurement-past-to-future {
  color: $gray;
  font-size: 0.8em;
}

.measurement-future-help {
  opacity: 0;
  transition: all $fast $ease;
}

.measurement:hover .measurement-future-help,
.measurement-future-help:active,
.measurement-future-help:hover,
.measurement-future-help:focus {
  opacity: 1;
}

.tooltip {
  position: relative;
  display: block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 10rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.25rem;
  padding: 0.25rem;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -5rem;
  font-size: 0.9rem;

  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  animation-name: show-tooltip;
  animation-duration: $medium;
  animation-timing-function: $ease;
  animation-delay: $slow;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes show-tooltip {
  0% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

/* slider styling */

.slider-wrapper {
  display: inline-block;
  padding: 0;
}

.slider-wrapper input {
  width: 60px;
  height: 20px;
  margin: 0;
}

input[type=range]{
  -webkit-appearance: none;
  -webkit-transform:rotate(-90deg);
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type=range]:focus {
  outline: none;
}

// Chrome

input[type=range]::-webkit-slider-runnable-track {
  width: 20px;
  height: 10px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #666;
  margin-top: -3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

// Firefox

input[type=range]::-moz-range-track {
  width: 58px;
  height: 10px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #666;
}
