@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.measurement-about {
  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h4 {
    margin: 1rem 0 0.25rem 0;
    font-size: 1.125rem;

    &:first-child {
      margin-top: 0.5rem;
    }
  }
}

.tile-like {
  margin-top: 0.25rem;
  background: $gray-lightest;
}

.notifier {
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

.scrollbar {
  overflow: scroll;
}
