@import 'styles/flexbox.scss';
@import 'styles/colors.scss';

.measurements {
  .react-datepicker {
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    border: 0;
  }

  .react-datepicker__header {
    background: $gray-lightest;
    border-bottom: 0;
  }

  .react-datepicker__day {
    font-weight: 600;
  }

  .react-datepicker__day--outside-month {
    font-weight: 300;
    opacity: 0.33;
  }

  .react-datepicker__day--selected {
    font-weight: 700;
  }

  .past-label {
    color: $past;
    font-weight: bold;
    cursor: pointer;
  }

  .present-label {
    color: $present;
    font-weight: bold;
  }

  .future-label {
    color: $future;
    font-weight: bold;
  }
}

.title-bar {
  margin-right: 0.25rem;
}

.measurements-list {
  overflow: auto;
}

.measurements-sublist-header {
  padding: 0.25rem 0.125rem;
  font-size: 0.9rem;
  background: $gray-lightest;

  .icon {
    width: 0.85rem;
    height: 0.85rem;
    margin: 0;

    svg {
      padding: 0.125rem;
    }
  }
}

.none-found {
  font-size: 0.9rem;
}
