@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.measurement-about {
  h4 {
    margin: 1rem 0 0.25rem 0;
    font-size: 1.125rem;

    &:first-child {
      margin-top: 0.5rem;
    }
  }
}
