@import 'styles/flexbox.scss';
@import 'styles/colors.scss';

.measurements {
  .dashboard-panel-headline {
    margin-right: 0.75rem;
  }

  .react-datepicker {
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    border: 0;
  }

  .react-datepicker__header {
    background: $gray-lightest;
    border-bottom: 0;
  }

  .react-datepicker__day {
    font-weight: 600;
  }

  .react-datepicker__day--outside-month {
    font-weight: 300;
    opacity: 0.33;
  }

  .react-datepicker__day--selected {
    font-weight: 700;
  }

  .past-label,
  .present-label,
  .future-label {
    font-family: 'Roboto Condensed', sans-serif !important;
    text-align: center;
  }

  .past-label {
    color: $past;
    font-weight: bold;
    cursor: pointer;
  }

  .present-label {
    color: $present;
    font-weight: bold;
  }

  .future-label {
    color: $future;
    font-weight: bold;
  }

  .pulse {
    cursor: pointer;
    // box-shadow: 0 0 0 transparentize($highlight-bg, 0.6);
    background: transparentize($highlight-bg, 1);
    transform: scale(1.0);
    animation: pulse 2s 2;
    animation-delay: 3s;
  }

  @keyframes pulse {
    0% {
      background: transparentize($highlight-bg, 0.6);
      transform: scale(1.2);
    }
    70% {
      background: transparentize($highlight-bg, 1);
      transform: scale(1.0);
    }
    100% {
      background: transparentize($highlight-bg, 1);
      transform: scale(1.0);
    }
  }
}

.title-bar {
  margin-right: 0.25rem;
}

.measurements-list {
  overflow: auto;
}

.measurements-sublist-header {
  padding: 0.25rem 0.125rem;
  font-size: 0.9rem;
  background: $gray-lightest;

  .icon {
    width: 0.85rem;
    height: 0.85rem;
    margin: 0;

    svg {
      padding: 0.125rem;
    }
  }
}

.none-found {
  font-size: 0.9rem;
}
