@import 'styles/flexbox.scss';
@import 'styles/colors.scss';

.measurements {
  .react-datepicker {
    font-family: 'Overpass', sans-serif;
    font-size: 1rem;
    border: 0;
  }

  .react-datepicker__header {
    background: $gray-lightest;
    border-bottom: 0;
  }

  .react-datepicker__day {
    font-weight: 600;
  }

  .react-datepicker__day--outside-month {
    font-weight: 300;
    opacity: 0.33;
  }

  .react-datepicker__day--selected {
    font-weight: 700;
  }

  .past-label {
    color: $past;
    font-weight: bold;
    cursor: pointer;
  }

  .present-label {
    color: $present;
    font-weight: bold;
  }

  .future-label {
    color: $future;
    font-weight: bold;
  }
}

.measurements-list {
  overflow: auto;
}
