@import '../styles/ratio.scss';
@import '../styles/transitions.scss';
@import '../styles/flexbox.scss';
@import '../styles/colors.scss';

.risk-tile {
  width: 100%;
}

.risk-active,
.risk-inactive {
  background: $gray-lightest;
}

.risk-active {
  box-shadow: inset 0 0 0 2px $black, 0 0 0 2px $black;
}

.risk-tile-content {
  position: relative;
  margin: 0 0.5rem;
  transition: background $fast $ease, box-shadow $fast $ease;
}

.risk-tile-large .risk-tile-content {
  margin: 0 1.5rem 0 0;
}

.risk-tile-clickable:hover,
.back:hover {
  cursor: pointer;
}

.vertical-line {
    border-left: 2px solid grey;
    height: 300px;
}

.risk-tile-title {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

.risk-tile-large .risk-tile-title {
  padding: 0.5rem 0 0 0;
  color: black;
  font-weight: 700;
}

.risk-tile-time {
  margin: 0;
  padding: 0 0 0.5rem 0;
  font-size: 1.125rem;
  text-align: center;
}

.risk-tile-status {
  margin: 0 auto;
  font-size: 1rem;
}

.risk-tile-score {
  margin: 1rem 0 1.25rem;
  color: $black;

  > div {
    width: 30%;
  }
}

.risk-tile-score-value {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
}

.risk-tile-score-unit {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.75rem;
}

.risk-tile-context {
  margin-left: 0.125rem;
  color: $gray;
}

.risk-tile-context-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  background: $gray;
}

.risk-tile-info.button {
  margin: 0 0.25rem 0.25rem 0;
  border-color: $gray-light;
}

.risk-tile-score-past,
.risk-tile-score-future {
  .risk-tile-score-value {
    font-size: 2rem;
  }

  .risk-tile-score-unit {
    font-size: 0.85rem;
  }
}

.tooltiptext {
  font-size: 0.8rem;
}

.back {
  padding: 0.75rem;
  font-size: 1.5rem;
  background: $gray-lightest;
}

.arrow {
  display: block;
  margin: auto;
}
