.risk-tile {
  background-color: lightgrey;
  width: 90%;
  padding-bottom: 5%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 30px;
}

.risk-tile-score {
  display: table;
  margin: 0 auto;
  font-size: 60px;
}
