@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.header {
	font-size: 25px;
    .context {
        font-size: 14px;
        opacity: 0.65;
    }
}

.present-risk {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}