@import '../styles/colors.scss';
@import '../styles/transitions.scss';

.topbar {
  height: 3rem;
  margin: 0 1rem;
  font-size: 1.25rem;

  a,
  a:hover {
    box-shadow: none;
  }
}

.topbar-logo {
  color: black;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.topbar-element {
  height: 3rem;
  margin: 0 0.25rem;
  line-height: 3rem;

  .icon-logo {
    width: 6rem;
    height: 3rem;
    margin-right: 0.5rem;
  }

  .icon {
    margin-right: 0.2rem;
  }
}

.topbar-padded-element .topbar-element {
  margin-left: 0.6rem;
}

.topbar-element-subtle {
  color: $gray;
  font-size: 0.85em;
  line-height: 3rem;
  text-transform: uppercase;
}

.topbar-last-visit,
.topbar-user {
  .icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-left: 0.25rem;
  }
}
